*{
   /* box-sizing: border-box;*/

  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Style the side navigation for chat application*/
  .sidenav {
    height: 100vh;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    position: sticky;
  }
    
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 2vw;
  }

  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: #111;
  }

  .sidenav li a{
    font-size: 1.5vw;
  }
  
  .rightSidenav {
    position: fixed;
    height:100vh;
    width: 20%;
    top:0;
    right:0;
    background-color: #111;
    overflow-x: hidden; 
  }

  /* Style the content */
  /* Style the navigation menu */
  .navbar {
    position: sticky;
    width: 100%;
    background-color: #111;
    overflow: auto;
  }

  /* Navigation links */
  .navbar a {
    float: left;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: white;
    text-decoration: none;
    font-size: 2vw;
    width: 20%; /* Five equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
  }

  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #bdbdbd;
    color: #111;
  }

  /* Style the current/active link */
  .navbar a.active {
    background-color: #ddd;
    color: #111;
  }
  .container {
   font-size: 2vw;
   position: absolute;
   top: 0; /* Align to the top */
   left: 20vw; /* Align to the right edge of the sidenav */
   bottom: 0; /* Take up remaining vertical space */
   right: 0; /* Align to the right side of the viewport */
   margin-top:4vw;
   margin-left: ;
   overflow-y: auto; /* Allow scrolling if content overflows vertically */
   text-align: center;
  }
  .title{
    left: 0vw;
    font-size:5vw;
    top: 0; /* Align to the top */
    left: 0vw; /* Align to the right edge of the sidenav */
    bottom: 0; /* Take up remaining vertical space */
    right: 0; /* Align to the right side of the viewport */
    margin-left: ;
    overflow-y: auto; /* Allow scrolling if content overflows vertically */
    text-align: center;

  }
  .subtitles h3{
    float: left;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: black;
    text-decoration: none;
    font-size: 2vw;
    width: 25%; /* Five equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align:center;
  }
  
  .subtitles  {
    width:100vw;
    display: flex;
    justify-content: center;
  }
  .subtitles p {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    color: black;
    text-decoration: none;
    font-size: 1vw;
    width: 25%; /* Five equal-width links.*/
    text-align: center;
  }

  /*make the active user text inherit style from container*/

  .inbox__people{
    color: white;
    padding: 16px ;
    
  }
  
  .inbox__messages {
   display: flex;
   align-items: center;
  }

 .notification {
    position: fixed;
    top: 0; /* Align to the top */
    margin-top:4vw;
    width:15vw;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 15px;
    border: 0.2vh solid #111;
    color: #111;
    margin-left: 75vw;
    text-align: center;
    overflow-y: auto; 
    font-size: 1.5vw;
  }
 .message_form{
  position: fixed;
  top: 0;
  padding-left:5vw;
  margin-top:4vw;
 }